*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.admin_list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none; 
    gap: 40px;
}